<div class="box-container">
    <div class="grid-3">
        <div>
            <h2 class="mat-h2">Board Master</h2>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input type="text" matInput (keyup)="applyFilter($event.target.value)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="right">
            <button mat-raised-button color="primary" (click)="gotoPage('board-master/add-board')">Add Board</button>
            <button mat-raised-button color="primary" (click)="gotoPage('admin-dashboard')"
                style="margin-left: 10px;">Back
            </button>

        </div>
    </div>
    <ng-container *ngIf="board.length > 0">
        <div class="grid-header">
            <div class="sub-grid bold-head">
                <div>Board Id</div>
                <div>Login</div>
                <div>Password</div>
                <div>Status</div>
            </div>
        </div>
        <div class="grid" *ngFor="let b of board;">
            <div class="sub-grid" matTooltip="Details">
                <div>{{b.board_id}}</div>
                <div>{{b.Login}}</div>
                <div>{{b.password}}</div>
                <div>{{b.Login}}</div>
                <div>{{b.status}}</div>

            </div>
            <div class="icon-column">
                <mat-icon (click)="updateBoard(b.board_id)" matTooltip="Edit">
                    edit
                </mat-icon>
            </div>
            <div class="icon-column">
                <mat-icon matTooltip="Delete">
                    delete
                </mat-icon>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="board.length == 0">
        <div class="no-data">
            Currently, there are no users defined
        </div>
    </ng-container>
</div>