<div class="box-container">
  <div class="grid-2">
    <div>
      <h2 class="mat-h2">Board List</h2>
    </div>
    <div class="right">
      <button mat-raised-button color="primary" (click)="gotoPage('boards/add-board')">Add Board</button>
      <button mat-raised-button color="primary" (click)="gotoPage('admin-dashboard')"
              style="margin-left: 10px;">Back
      </button>
    </div>
  </div>
  <ng-container *ngIf="boardList.length > 0">
    <div class="grid-header grid">
      <div class="sub-grid bold-head">
        <div>Board Name</div>
        <div>Board ID</div>
        <div>No Of Members</div>
        <div>Status</div>
      </div>
    </div>
    <div class="grid" *ngFor="let b of boardList;">
      <div class="sub-grid" matTooltip="Details">
        <div>{{b.boardName}}</div>
        <div>{{b.loginId}}</div>
        <div>{{b.noOfMembers}}</div>
        <div>{{status[b.status]}}</div>
      </div>
      <div class="icon-column">
        <mat-icon (click)="updateBoard(b.id)" matTooltip="Edit">
          edit
        </mat-icon>
      </div>
      <div class="icon-column">
        <mat-icon matTooltip="Delete" (click)="openDeleteBoard(b)">
          delete
        </mat-icon>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="boardList.length == 0">
    <div class="no-data">
      Currently, there are no board list defined
    </div>
  </ng-container>
</div>

<app-message-dialog #messageDlg></app-message-dialog>
<app-confirm-dialog #confirmDlg></app-confirm-dialog>
