<!-- <pre>Form Values: {{f.value | json}}</pre>
<pre>Form Values: {{f.status}}</pre> -->

<div class="box-container">
    <div class="grid-2">
        <div>
            <h2 class="mat-h2">{{activity}} Interview User</h2>
        </div>
    </div>

    <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)">
        <div>
            <form #f="ngForm" (ngSubmit)="f.form.valid">
                <mat-tab label="Step 1">
                    <div class="field">
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="interviewId" placeholder="Interview Id"
                                    [(ngModel)]="interviewMaster.interviewId" #interviewId="ngModel" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="field">
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="name" placeholder="Enter Name" required
                                    [(ngModel)]="interviewMaster.name" #name="ngModel">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="field">
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="notificationNo" placeholder="Enter Notification No."
                                    required [(ngModel)]="interviewMaster.notificationNo" #notificationNo="ngModel">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="field">
                        <div class="center">
                            <mat-radio-group name="status" [(ngModel)]="interviewMaster.status" required>
                                <mat-label>Interview Status: </mat-label>
                                <mat-radio-button class="margin-left" [value]="1">
                                    Active
                                </mat-radio-button>
                                <mat-radio-button class="margin-left" [value]="0">
                                    Inactive
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="right">
                        <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
                    </div>
                </mat-tab>

                <mat-tab label="Step 2">
                    <div class="box-container" style="margin-top: 10px">
                        <div *ngFor="let item of dateList; let i=index">
                            <div class="grid-3" style="width: 50%">
                                <div class="field">
                                    <mat-form-field>
                                        <mat-label>From date</mat-label>
                                        <input name="fromDate" matInput [matDatepicker]="picker"
                                            [(ngModel)]="item.fromDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="field">
                                    <mat-form-field>
                                        <mat-label>To date</mat-label>
                                        <input name="toDate" matInput [matDatepicker]="topicker"
                                            [(ngModel)]="item.toDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="topicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #topicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="i == dateList.length-1">
                                    <button mat-mini-fab color="default" (click)="addDateItem()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                                <div *ngIf="i != dateList.length-1">
                                    <button mat-mini-fab color="default" (click)="deleteDateItem(i)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <button mat-raised-button color="primary" (click)="previousStep()">Previous</button>
                            <button mat-raised-button color="primary" class="ml-10" (click)="nextStep()">Next</button>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Step 3">
                    <div class="grid-3">
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="maxMarksUnreserved" placeholder="Unreserved Max Marks"
                                    required [(ngModel)]="marks.maxMarksUnreserved" #maxMarksUnreserved="ngModel">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="minMarksUnreserved" placeholder="Unreserved Min Marks"
                                    required [(ngModel)]="marks.minMarksUnreserved" #minMarksUnreserved="ngModel">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="grid-3">
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="maxMarksEws" placeholder="EWS Max Marks" required
                                    [(ngModel)]="marks.maxMarksEws" #maxMarksEws="ngModel">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="minMarksEws" placeholder="EWS Min Marks" required
                                    [(ngModel)]="marks.minMarksEws" #minMarksEws="ngModel">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="grid-3">
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="maxMarksObc" placeholder="OBC NCL Max Marks" required
                                    [(ngModel)]="marks.maxMarksObc" #maxMarksObc="ngModel">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="minMarksObc" placeholder="OBC NCL Min Marks" required
                                    [(ngModel)]="marks.minMarksObc" #minMarksObc="ngModel">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="grid-3">
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="maxMarksSc" placeholder="SC Max Marks" required
                                    [(ngModel)]="marks.maxMarksSc" #maxMarksSc="ngModel">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="minMarksSc" placeholder="SC Min Marks" required
                                    [(ngModel)]="marks.minMarksSc" #minMarksSc="ngModel">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="grid-3">
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="maxMarksSt" placeholder="ST Max Marks" required
                                    [(ngModel)]="marks.maxMarksSt" #maxMarksSt="ngModel">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput type="text" name="minMarksSt" placeholder="ST Min Marks" required
                                    [(ngModel)]="marks.minMarksSt" #minMarksSt="ngModel">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="right">
                        <button mat-raised-button color="primary" (click)="previousStep()">Previous</button>
                        <button mat-raised-button color="primary" class="ml-10" (click)="nextStep()">Next</button>
                    </div>
                </mat-tab>
                <mat-tab label="Step 4">
                    <div class="grid-2" *ngFor="let item of dateList; let i=index">
                        <div class="field">
                            <div class="example-margin">
                                <div>
                                    <!-- (change)="valueChange(item,$event,i)"I -->
                                    <mat-checkbox [checked]="verificationOfficer.checked" name="{{i}}-date">
                                    </mat-checkbox>
                                    {{item.fromDate}} to {{item.toDate}}
                                </div>
                            </div>
                        </div>

                        <div class="field multiselect">
                            <ng-multiselect-dropdown name="h1" [settings]="dropdownSettings"
                                [placeholder]="'Verification Officer'" [data]="verificationOfficerList"
                                (ngModel)="item['verificationOffice'].userId" (onSelect)="onItemSelect($event,i)"
                                (onSelectAll)="onSelectAll($event,i)" (onDeSelect)="onItemDeSelect($event,i)"
                                (onDeSelectAll)="onDeSelectAll($event,i)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>

                    <div class="right">
                        <button mat-raised-button color="primary" (click)="previousStep()">Previous</button>
                        <button mat-raised-button color="primary" class="ml-10" (click)="nextStep()">Next</button>
                    </div>
                </mat-tab>
                <mat-tab label="Step 5">
                    <div class="grid-2" *ngFor="let item of dateList; let i=index">
                        <div class="field">
                            <div class="example-margin">
                                <div>
                                    <!-- (change)="valueChange(item,$event,i)" -->
                                    <mat-checkbox [checked]="boardInterview.checked" name="{{i}}-date">
                                    </mat-checkbox>
                                    {{item.fromDate}} To {{item.toDate}}
                                </div>
                            </div>
                        </div>

                        <div class="field multiselect">
                            <ng-multiselect-dropdown name="b1" [settings]="dropdownSettings_1"
                                [placeholder]="'Board Name'" [data]="boardList" (ngModel)="item['boardInterview'].id"
                                (onSelect)="onItemSelectboard($event,i)"
                                (onSelectAll)="onSelectAllboard($event,i)" (onDeSelect)="onItemDeSelectboard($event,i)"
                                (onDeSelectAll)="onDeSelectAllboard($event,i)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="right">
                        <button mat-raised-button color="primary" (click)="previousStep()">Previous</button>
                        <button mat-raised-button color="primary" class="ml-10" (click)="nextStep()">Next</button>
                    </div>
                </mat-tab>
                <mat-tab label="Step 6">
                    <div class="grid-2" *ngFor="let item of guestList; let i=index">
                        <div class="field multiselect" style="width: 90%;margin-top: 13px">
                            <ng-multiselect-dropdown name="h1" [settings]="dropdownSettings_1"
                                [placeholder]="'custom placeholder'" [data]="userList" [(ngModel)]="selectedItems"
                                (onSelect)="onItemSelect($event,i)" (onSelectAll)="onSelectAll($event,i)">
                            </ng-multiselect-dropdown>
                        </div>
                        <div class="field">
                            <div class="example-margin">
                                <div>
                                    <!-- (change)="valueChange(item,$event,i)" -->
                                    <mat-checkbox [checked]="chairmanBoard.checked" name="{{i}}-guest">
                                    </mat-checkbox>
                                    {{item.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <button mat-raised-button color="primary" (click)="a1()">Submit</button>
                    </div>
                </mat-tab>
            </form>
        </div>
    </mat-tab-group>
</div>
<app-message-dialog #messageDlg></app-message-dialog>
<app-confirm-dialog #confirmDlg></app-confirm-dialog>