.box-container {
  border: solid 1px #ccc;
  //min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  padding: 5px 10px 10px 10px;

  mat-form-field {
    width: 40%;
  }

  textarea {
    width: 100%;
  }
}

.error-message {
  color: #cc0033;
  //  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: -13px 0 0;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  div {
    padding: 10px;
  }
}
.field {
  mat-form-field{
    width: 100%;
  }
}
