<div class="box-container">
  <div class="grid-2">
    <div>
      <h2 class="mat-h2">{{activity}} User</h2>
    </div>
    <div class="right">
      <button mat-raised-button color="primary" (click)="gotoPage('users')"
              style="margin-left: 10px;">Back
      </button>
    </div>
  </div>
  <hr>
  <div>
    <form #f="ngForm" (ngSubmit)="f.form.valid && openSubmitUser()">
      <div style="text-align: center">
        <div class="field">
          <mat-form-field>
            <mat-label>Select Title</mat-label>
            <mat-select [(ngModel)]="userMaster.title" #title="ngModel" name="title" required>
              <mat-option [value]="1">
                Mr.
              </mat-option>
              <mat-option [value]="2">
                Mrs.
              </mat-option>
              <mat-option [value]="3">
                Miss
              </mat-option>
              <mat-option [value]="4">
                Dr.
              </mat-option>
            </mat-select>

          </mat-form-field>
          <div class="error-message">
            <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
              <div *ngIf="title.errors.required">Title is required</div>
            </div>
          </div>
        </div>
        <div class="field">
          <mat-form-field>
            <input matInput type="text" name="name" [(ngModel)]="userMaster.name" #name="ngModel"
                   placeholder="Enter Name" maxlength="100" required>
          </mat-form-field>
          <div class="error-message">
            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">Name is required</div>
            </div>
          </div>
        </div>
        <div class="field">
          <mat-form-field>
            <input matInput type="text" name="designation" [(ngModel)]="userMaster.designation" #designation="ngModel"
                   placeholder="Enter Designation" maxlength="50" required>
          </mat-form-field>
          <div class="error-message">
            <div *ngIf="f.submitted && designation.invalid" class="invalid-feedback">
              <div *ngIf="designation.errors.required">Designation is required</div>
            </div>
          </div>
        </div>

        <div class="field">
          <mat-form-field>
            <mat-label>Select Role</mat-label>
            <mat-select [(ngModel)]="userMaster.role" #role="ngModel" name="role" required>
              <mat-option [value]="1">
                Board Chairman
              </mat-option>
              <mat-option [value]="2">
                Chairman
              </mat-option>
              <mat-option [value]="3">
                Verification Officer
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="error-message">
            <div *ngIf="f.submitted && role.invalid" class="invalid-feedback">
              <div *ngIf="role.errors.required"> Enter Role</div>
            </div>
          </div>
        </div>
        <div class="" *ngIf="userMaster.role == 3">
          <div class="field">
            <mat-form-field>
              <input matInput type="text" name="user_id" [(ngModel)]="userMaster.userId" #user_id="ngModel"
                     placeholder="Enter Login ID" required>
            </mat-form-field>
            <div class="error-message">
              <div *ngIf="f.submitted && user_id.invalid" class="invalid-feedback">
                <div *ngIf="user_id.errors.required"> Enter User Id</div>
              </div>
            </div>
          </div>
          <div class="field">
            <mat-form-field>
              <input matInput appBlockCopyPaste type="password" [(ngModel)]="userMaster.password"
                     #password="ngModel" name="password" placeholder="Enter Password" required>
            </mat-form-field>
            <div class="error-message">
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required"> Enter Password</div>
              </div>
            </div>
          </div>
          <div class="field">
            <mat-form-field>
              <input matInput appBlockCopyPaste type="password" [(ngModel)]="userMaster.confirmPassword"
                     #c_password="ngModel" name="confirm_password" placeholder="Enter Confirm Password"
                     required>
            </mat-form-field>
            <div class="error-message">
              <div *ngIf="f.submitted && c_password.invalid" class="invalid-feedback">
                <div *ngIf="c_password.errors.required"> Confirm Password</div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-1">
          <div style="text-align: left;padding-left: 0">
            <mat-radio-group name="status" [(ngModel)]="userMaster.status">
              <mat-radio-button class="margin-left" [value]="1">
                Active
              </mat-radio-button>
              <mat-radio-button class="margin-left" [value]="0">
                Inactive
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div style="text-align: center">
        <button [disabled]="!f.valid" mat-raised-button style="background-color: green!important;color: whitesmoke;"
                type="submit">{{activity}}
          User
        </button>
      </div>
    </form>
  </div>
</div>

<app-message-dialog #messageDlg></app-message-dialog>
<app-confirm-dialog #confirmDlg></app-confirm-dialog>
