<div class="container">
    <ng-container>
        <a class="widget" (click)="gotoPage('users')">
            <mat-card>
                <mat-card-content>
                    <button mat-menu-item>
                        <span>User Master</span>
                    </button>
                </mat-card-content>
            </mat-card>
        </a>
    </ng-container>
    <ng-container>
        <a class="widget" (click)="gotoPage('guest-users')">
            <mat-card>
                <mat-card-content>
                    <button mat-menu-item>
                        <span>Guest User Master</span>
                    </button>
                </mat-card-content>
            </mat-card>
        </a>
    </ng-container>
    <ng-container>
        <a class="widget" (click)="goto('boards')">
            <mat-card>
                <mat-card-content>
                    <button mat-menu-item>
                        <span>Board Master</span>
                    </button>
                </mat-card-content>
            </mat-card>
        </a>
    </ng-container>
    <ng-container>
        <a class="widget" (click)="goto('interview-master')">
            <mat-card>
                <mat-card-content>
                    <button mat-menu-item>
                        <span>Interview Master</span>
                    </button>
                </mat-card-content>
            </mat-card>
        </a>
    </ng-container>
    <ng-container disabled="true">
        <a class="widget" style="opacity: 0.5">
            <mat-card>
                <mat-card-content>
                    <button mat-menu-item>
                        <span>Candidate Master</span>
                    </button>
                </mat-card-content>
            </mat-card>
        </a>
    </ng-container>
</div>
