<div class="box-container">
  <div class="grid-3">
    <div>
      <h2 class="mat-h2">User List</h2>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input type="text" matInput (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="right">
      <button mat-raised-button color="primary" (click)="gotoPage('users/add-user')">Add User</button>
      <button mat-raised-button color="primary" (click)="gotoPage('admin-dashboard')"
              style="margin-left: 10px;">Back
      </button>
    </div>
  </div>
  <ng-container *ngIf="users.length > 0">
    <div class="grid-header">
      <div class="sub-grid bold-head">
        <div>Name</div>
        <div>Role</div>
      </div>
    </div>
    <div class="grid" *ngFor="let v of users;">
      <div class="sub-grid"
           matTooltip="Details">
        <div>{{v.name}}</div>
        <div>{{v.role}}</div>
      </div>
      <div class="icon-column">
        <mat-icon (click)="updateUser(v.id)" matTooltip="Edit">
          edit
        </mat-icon>
      </div>
      <div class="icon-column">
        <mat-icon matTooltip="Delete" (click)="openDeleteUser(v)">
          delete
        </mat-icon>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="users.length == 0">
    <div class="no-data">
      Currently, there are no users defined
    </div>
  </ng-container>
</div>
<app-message-dialog #messageDlg></app-message-dialog>
<app-confirm-dialog #confirmDlg></app-confirm-dialog>
