<div class="box-container">
    <div class="grid-2">
        <h2 class="mat-h2">Candidate Master</h2>
        <div class="right">
            <button mat-raised-button color="primary" (click)="gotoPage('admin-dashboard')">Back</button>
        </div>
    </div>
    <div>
        <ng-container>
            <a class="widget">
                <mat-card>
                    <mat-card-content>
                        <button mat-menu-item>
                            <span>Upload</span>
                        </button>
                    </mat-card-content>
                </mat-card>
            </a>
        </ng-container>
        <ng-container>
            <a class="widget">
                <mat-card>
                    <mat-card-content>
                        <button mat-menu-item>
                            <span>View</span>
                        </button>
                    </mat-card-content>
                </mat-card>
            </a>
        </ng-container>
    </div>
</div>